node_modules/
.next/
out/
build/
dist/
.env
.env*.local
*.log
.DS_Store
coverage/
.yarn/install-state.gz


.build/
release/
public/downloads/*.exe
public/downloads/*.blockmap
public/downloads/*.yml
public/downloads/launcher-manifest.json
